.array-container {
    position: relative;
    top: 0%;
    left: 0%;
    
    height: 500px;
    width: 500px;

    /* silly comment */
  }
  
  .box {
      position: relative;
      
      background-color: rgb(230, 10, 10);
      border: 2px solid black;
      height: 50px;
      width: 50px;
      
      
  }

  .row {
      position: absolute;
      
      display: inline;

  }
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }