.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .box {
      background-color: white;
      border: 2px solid black;
      
  }
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }